doctype html
html
    head
        title Instagram Photo Printer
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
    body
        nav.navbar.navbar-inverse.navbar-static-top
            div.navbar-header
                a.navbar-brand(href="/") Instagram Photo Printer

        div.container
            block content
